<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="rent" href="/tabs/rent">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Rent</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buy" href="/tabs/buy">
      <ion-icon aria-hidden="true" name="cart"></ion-icon>
      <ion-label>Buy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favourites" href="/tabs/favourites">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Favourites</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
