<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favourites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let property of favorites">
        <ion-card class="property-card">
          <div class="image-container">
            <img [src]="property.image" alt="Property Image"/>
            <div class="tags">
              <span class="tag">Furnished</span>
              <span class="tag">Pet Friendly</span>
            </div>
            <ion-button fill="clear" class="favorite-button" (click)="removeFavorite(property.id)">
              <ion-icon name="heart" color="success"></ion-icon>
            </ion-button>
          </div>
          <ion-card-content>
            <div class="price">$ {{property.price | number}}</div>
            <div class="property-type">{{property.type}}</div>
            <div class="location">{{property.area}}</div>
            <div class="features">
              <span><ion-icon name="bed-outline"></ion-icon> {{property.bedrooms}} Bed</span>
              <span><ion-icon name="water-outline"></ion-icon> {{property.bathrooms}} Bath</span>
              <span><ion-icon name="car-outline"></ion-icon> {{property.parking}} Parking</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
